<div class="wrap-container">
  <div class="container">
    <div class="row row--mb-20">
      <h2 class="text text--2xl text--bold">
        Mi cuenta
      </h2>
    </div>
    <div class="wrap-account-profile">
      <div class="col">
        <div class="wrap-menu-navigation">
          <app-menu-navigation></app-menu-navigation>
        </div>
      </div>
      <div class="col col--100">
        <div class="wrap-section">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
