<div class="container">
    <div class="contact">
        <h2>Contacto</h2>
        <div class="contact__info">
            <div>
                <div class="label">
                    <i class="ti ti-map-pin"></i>
                    <p>Direccion:</p>
                </div>
                <a href="https://www.google.com/maps/dir//Ok+Dock+(PCBox),+Rampa+Aeropuerto,+Alameda+Otay+1600-Int.+B102,+La+Pechuga,+22425+Tijuana,+B.C./@32.5292316,-116.9514561,15z/data=!4m8!4m7!1m0!1m5!1m1!1s0x80d947973f9771ad:0x584ff402f49faffb!2m2!1d-116.95208!2d32.5316574?entry=ttu" target="_blank" rel="noopener noreferrer">Plaza Alameda Otay, Local B102, Tijuana, Mexico</a>
                <div  class="label">
                    <i class="ti ti-phone"></i>
                    <span>Tel:</span>
                </div>
                <p>664 191 5124</p>
                <div  class="label">
                    <i class="ti ti-mail"></i>
                    <p>Correo: </p>
                </div>
                <a href="mailto:info@okdock.mx">info@okdock.mx</a>
                <div  class="label">
                    <i class="ti ti-brand-whatsapp"></i>
                    <p>Whatsapp:</p>
                </div>
                <a href="https://wa.me/6648510623?text=Hola%20Equipo%20de%20OkDock" target="_blank" rel="noopener noreferrer">6648510623</a>
                <div  class="label">
                    <i class="ti ti-brand-facebook"></i>
                    <p>Facebook:</p>
                </div>
                <a href="https://www.facebook.com/okdock.alameda/" target="_blank" rel="noopener noreferrer">okdock.alameda</a>
                <div  class="label">
                    <i class="ti ti-brand-instagram"></i>
                    <p>Instagram</p>
                </div>
                <a href="https://www.instagram.com/okdock.alameda/" target="_blank" rel="noopener noreferrer">okdock.alameda</a>
            </div>
            <div>
                <img src="assets/contact/sucursal.jpg" alt="">
            </div>
        </div>
        <div class="map">
            <div id="map" ></div>
        </div>
    </div>
</div>