 
<main class = "main" *ngIf="order_detail">
    <div class = "header">
        <div class = "header__tankyou">
            <div class = header__tankyou_message>
                <div>
                    <h2>Gracias por su compra!</h2>
                    <p>En unos momentos recibira un correo de confirmacion</p>
                </div>
            </div>
        </div>
        <div class = "header__information">
            <div class = header__information_section>
                <div>
                    <span class="material-icons-outlined">
                     credit_card
                    </span>
                </div>
                <div>
                    <p>Metodo de pago</p>
                    <p>{{ order_detail.payment_name }}</p>
                </div>
            </div>
            <div class = header__information_section>
                <div>
                  <span class="material-icons-outlined">
                    add_road
                  </span>
                </div>
                <div>
                    <p>Direccion de envio</p>
                    <p>{{ order_detail.address }}</p>
                    <p>{{ order_detail.city }}, {{ order_detail.country }}</p>
                    <p>{{ order_detail.zip }}</p>
                </div>
            </div>
            <div class = header__information_section>
                <div>
                  <span class="material-icons-outlined">
                    local_shipping
                  </span>
                </div>
                <div>
                    <p>Dias para entrega</p>
                    <p>4 Business days</p>
                </div>
            </div>
        </div>
    </div>
    <div class = "order_summary">
        <div class = "order_summary__title">
            <p>Resumen de tu orden</p>
        </div>
        <div class = "order_summary__number">
            <p>Order number: <span>{{ order_detail.order_number }}</span></p>
        </div>
        <div  class = "order_summary__body">
            <div class = "order_summary__item" *ngFor = "let product of order_detail.products">
                <div>
                    <div class = "order_summary__container_img">
                        <img [src]="product.image_url" alt="product.name">
                    </div>
                    <div class = "order_summary__product_description">
                        <p>{{ product.name }}</p>
                        <p>{{ product.model }}</p>
                    </div>
                </div>
                <div>
                    <div class = "order_summary__qty">
                        QTY: {{ product.selected_qty }}
                    </div>
                    <div class = "order_summary__price">
                        {{ product.selected_qty * product.price | currency }}
                    </div>
                </div>
            </div>
        </div>
        <div class = "order_summary__totals">
            <div>
                <div>Subtotal</div>
                <div>{{ order_detail.
                    subtotal | currency}}</div>
            </div>
            <div>
                <div>I.V.A</div>
                <div>
                    <span >{{ order_detail.total_iva | currency }}</span>
                </div>
            </div>
            <div>
                <div>Envio</div>
                <div>
                    <span >{{ order_detail.shipping_cost | currency }}</span>
                </div>
            </div>
            <div>
                <div>Total</div>
                <div>{{ order_detail.total | currency }}</div>
            </div>
        </div>
        <div class = "order_summary__support">
            <!-- <p>Please let us know if you have any question! You can contact us at</p> -->
        </div>
    </div>
</main>