<div class="container">
    <div class="us">
        <h2>
            Nosotros
        </h2>
        <div>
            <h4>Quiénes somos</h4>
            <p>Somos un referente en electrónica y tecnología para el sector industrial, personal y de negocios en Baja California, con alcance regional y nacional. Con más de 7 mil productos en existencia, disponibilidad inmediata y un gran rango de opciones y precios. Desde 2004, nuestro personal está capacitado para atenderte, entenderte y brindarte soluciones específicas a un precio justo, siempre con una sonrisa y dispuestos a ayudar. Electrónica, gaming y redes. 

            You say tech, we listen.</p>
        </div>
        <div>
            <h4>Misión</h4>
            <p>Elevar la competitividad y productividad de las personas y organizaciones para alcanzar su máximo potencial mediante el uso de la tecnología.</p>
        </div>
        <div>
            <h4>Visión</h4>
            <p>Ser la empresa #1 que proporcione soluciones integrales de tecnología a todas las personas y organizaciones de México.</p>
        </div>
    </div>
</div>
