.main{
    height: 100%;
}

.header{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #f2f2f7;
}

.header > h2{
    margin-top: 0;
}

.header > span{
    cursor: pointer;
}

.body{
    height: 100%;
    max-height: 371px;
    overflow: auto;
    margin-bottom: 20px;
}

.product{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid #F5F5F5;
}

.product > div{
    display: flex;
}

.product_image{
    width: 90px;
    height: 70px;
    margin: auto auto;
    padding: 10px;
}

.product_image > img{
    width: 100%;
    object-fit: contain;
}

.product_info{
    display: flex;
    flex-direction: column;
    row-gap: 6px;
}

.product_name > p:first-child{
    font-weight: 600;
}

.product_name > p:nth-child(2){
    color: #7E84A3;
}

.totals{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-top: auto;
    background-color: #f2f2f8;
    padding: 10px;
    border-radius: 8px;
}

.totals > div{
    display: flex;
    justify-content: space-between;
}

.totals > div > p:first-child{
    font-weight: 600;
}



