<div class="login_container">
  <div class="login_background">
    <div class="login_text_wrap">
      <img src="assets/img/logo_okdock.png" class="login_logo">
      <h1 class="login_text_title">Recuperar Contraseña</h1>
      <p class="login_text_subtitle">Somos tu conexión con las grandes marcas y lo último en tecnología personal, de trabajo y entretenimiento.</p>
    </div>
  </div>
  <div class="login_form">
    <div class="wrap-login">
      <div class="wrap-form">
        <ng-container *ngIf="!success">
          <div class="row row--flex col--flex-align-center pointer" routerLink="/login">
            <span class="material-icons-outlined blue">
              arrow_back
            </span>
            <h4 class="blue">Regresar</h4>
          </div>
          <div class="row row--flex row--mb-10">
            <h2 class="text text--xl text--semi-bold">
              Recuperar Contraseña
            </h2>
          </div>
          <div class="row row--flex row--flex-center row--mb-20">
            <p class="text text--dark-gray">
              Ingresa el correo electrónico con el cual creaste la cuenta
            </p>
          </div>
          <form class="form" [formGroup]="form">
            <div class="row row--mb-20">
              <div class="form__group">
                <p class="form__label">
                  Correo electrónico
                </p>
                <input type="text" class="form__control" placeholder="Correo electrónico" formControlName = "email"/>
                <div class = "error_message">
                  <p *ngIf="message_error">{{ message_error }}</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form__group">
                <button class="btn btn--blue btn--100" (click)="sendEmail()" [disabled]="is_loading">
                  <app-loading-spinner
                    *ngIf="is_loading"
                    [width]="20"
                    [height]="20"
                    [color]="'#FFF'"
                    [border_width]="2">
                  </app-loading-spinner>
                  <span>Enviar Correo</span>
                </button>
              </div>
            </div>
          </form>
        </ng-container>
        <ng-container *ngIf="success">
          <div class = "success_container">
            <div class = "success_icon">
              <i class="ti ti-check"></i>
            </div>
            <h2>Solicitud exitosa!</h2>
            <p>Hemos enviado un correo electrónico a su dirección con instrucciones para establecer una nueva contraseña para su cuenta.</p>
            <button class="btn btn--blue btn--100" routerLink="auth/login">
              <span>Iniciar sesión</span>
            </button>
          </div>
        </ng-container>
      </div>
      <div class="row row--flex row--flex-center" *ngIf="!success">
        <p class="text text--dark-gray text--sm">
          ¿Ya tienes cuenta?
          <a class="text--blue text--semi-bold pointer" routerLink="/auth/login">
            Iniciar sesión
          </a>
        </p>
      </div>
    </div>
  </div>
</div>



